@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
  background-color: rgb(255, 208, 120);
  
}
h1 {
  font-family: "Protest Riot", sans-serif;
  text-shadow:  2px 2px darkgray;
}
h2 {
  border-bottom: 3px solid orange;
}

img:hover {
  border-color: orangered;
  

}
img{
box-sizing: border-box;
border: 3px solid white;
transition-duration: 400ms;
}